@import 'tailwindcss';

@theme {
  --font-sans: Inter, sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth text-base font-sans not-italic;
  }

  body {
    @apply relative min-h-screen font-sans bg-gray-50 text-black;
  }
}

@layer components {
  .custom-menu {
    background-color: #1447e6 !important;
  }

  .custom-menu .ant-menu-item-selected {
    background-color: #85b1efc6 !important;
  }
}
