@import 'tailwindcss';

/* ---------------- Theme Tokens ---------------- */
@theme {
  --font-sans: Inter, sans-serif;
}

/* ---------------- Base Layer ---------------- */
@layer base {
  html {
    @apply scroll-smooth text-base font-sans not-italic;
  }

  body {
    @apply relative min-h-screen font-sans bg-white text-black;
  }
}

/* ---------------- Components Layer ---------------- */
@layer components {
  /* Rewrite Ant Design Menu's default styles*/
  .custom-menu {
    background-color: #1447e6 !important;
  }

  .custom-menu .ant-menu-item-selected {
    background-color: #85b1efc6 !important;
  }
}
